*~
*.lock
*.DS_Store
*.swp
*.out

workspace/
new_workspace/

*.class
*.war
*.ear

jboss-4.2.3.GA/server/all/deploy/project.ext
jboss-4.2.3.GA/server/default/deploy/project.ext
jboss-4.2.3.GA/server/minimal/deploy/project.ext
jboss-4.2.3.GA/server/all/log/*.log
jboss-4.2.3.GA/server/all/tmp/**/*
jboss-4.2.3.GA/server/all/data/**/*
jboss-4.2.3.GA/server/all/work/**/*
jboss-4.2.3.GA/server/default/log/*.log
jboss-4.2.3.GA/server/default/tmp/**/*
jboss-4.2.3.GA/server/default/data/**/*
jboss-4.2.3.GA/server/default/work/**/*
jboss-4.2.3.GA/server/minimal/log/*.log
jboss-4.2.3.GA/server/minimal/tmp/**/*
jboss-4.2.3.GA/server/minimal/data/**/*
jboss-4.2.3.GA/server/minimal/work/**/*